{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block body %}
    <header>
        <ul class='sidebar'>
            <li class="col-lg-3 col-sm-6 col-12 text-center pt-2">
                <a href='#github'>
                    <i class='bx bxl-github' aria-hidden="true"></i>
                    <p>My GitHub</p>
                </a>

            </li>

            <li class="col-lg-3 col-sm-6 col-12 text-center pt-2">
                <a href='#about-me'>
                    <i class='bx bxs-trophy' aria-hidden="true"></i>
                    <p>About me</p>
                </a>

            </li>

            <li class="col-lg-3 col-sm-6 col-12 text-center pt-2">
                <a href='#technologies'>
                    <i class='bx bx-code-curly' aria-hidden="true"></i>
                    <p>Technologies</p>
                </a>

            </li>

            <li class="col-lg-3 col-sm-6 col-12 text-center pt-2">
                <a href='#contact'>
                    <i class='bx bxs-contact' aria-hidden="true"></i>
                    <p>Contact me</p>
                </a>
            </li>
        </ul>
    </header>

    <div class='main paragraph'>
        <h1>Hello World!</h1>
        <p class="h1 mb-5">My name is Wojciech Prusaczyk!</p>
        <h2>Welcome to my portfolio website</h2>
        <p>
            <span>In 2012 when I wrote first line of code I instantly fell in love with it.</span><br>
            <span>Since then I'm focusing my life on self-improvement in coding, designing, programming and everything around it.</span>
        </p>
        <p>
            <span>I'm aspiring to become Frontend developer, but with good understanding of how Backend works.</span><br>
            <span>Check the links on the navigation bar to learn more about me :)</span>
        </p>
    </div>


    <div id="achievements" class="achievements paragraph">
    </div>

    <div id="technologies-header" class="align-content-center"><h1>My strength in technologies:</h1></div>

    <div id="technologies"></div>

    <div id="about-me" class="about-me paragraph">
        <h1>About me</h1>

    </div>
    <div id="footer-components" class="contact paragraph py-5">
        <div id="contact" class="contact-form overall col-lg-6 col-12">
            {% if emailSend is defined and emailSend == true %}
                Już wysłano email!
            {% else %}
                {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.contact) }}
                    {{ form_row(form.body) }}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
        <div id="github" class="contact-graphic overall col-lg-6 col-12"></div>
        <div id="moveToTop" class="col-12"><a href="#" class="button">Przewiń do góry</a></div>
    </div>
    <footer class="footer">
        <p class="h3">Designed & Developed by Wojciech Prusaczyk 2023</p>
    </footer>
    {% block scripts %}
        {{ encore_entry_script_tags('react_github') }}
        {{ encore_entry_script_tags('react_technologies') }}
        {{ encore_entry_script_tags('react_about_me') }}
    {% endblock %}
{% endblock %}